nav.menu
	.container
		ul
			li.menu__item.menu__item--active
				a(href="#") Главная
			li.menu__item
				a(href="#") Шугаринг и депиляция воском
			li.menu__item
				a(href="#") Антицеллюлитный массаж
			li.menu__item
				a(href="#") Классический массаж
			li.menu__item
				a(href="#") Обучение
			li.menu__item
				a(href="#") Косметика для мастеров
			li.menu__item
				a(href="#") Статьи
			li.menu__item
				a(href="#") О студии
			li.menu__item
				a(href="#") Контакты
