section.contacts
	.contacts__wrap
		+svgElement('phone', 35, 35)
		.contacts__text
			.contacts__status.contacts__status--online Звоните, мы сейчас работаем
			a(href="tel:+375333822499").contacts__phone +375 33 382 24 99

	.contacts__wrap
		+svgElement('time', 35, 35)
		.contacts__text
			.contacts__schedule Пн-Вс
				b  9:00-21:00
