@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-300.woff2") format('woff2');
  src: url("../fonts/MuseoSansCyrl-300.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-500.woff2") format('woff2');
  src: url("../fonts/MuseoSansCyrl-500.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-700.woff2") format('woff2');
  src: url("../fonts/MuseoSansCyrl-700.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
}
button,
input,
textarea {
  font-family: inherit;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.sprite {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.address {
  display: block;
}
.contacts {
  display: block;
}
.getCard {
  display: block;
}
.header {
  display: block;
}
.logo {
  display: block;
}
.menu {
  display: block;
}
.order {
  display: block;
}
.top {
  display: block;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImhlbHBlcnMvbWl4aW5zLnN0eWwiLCJzdHlsZXMuY3NzIiwic3R5bGVzLnN0eWwiLCIuLi9ibG9ja3MvYWRkcmVzcy9hZGRyZXNzLnN0eWwiLCIuLi9ibG9ja3MvY29udGFjdHMvY29udGFjdHMuc3R5bCIsIi4uL2Jsb2Nrcy9nZXRDYXJkL2dldENhcmQuc3R5bCIsIi4uL2Jsb2Nrcy9oZWFkZXIvaGVhZGVyLnN0eWwiLCIuLi9ibG9ja3MvbG9nby9sb2dvLnN0eWwiLCIuLi9ibG9ja3MvbWVudS9tZW51LnN0eWwiLCIuLi9ibG9ja3Mvb3JkZXIvb3JkZXIuc3R5bCIsIi4uL2Jsb2Nrcy90b3AvdG9wLnN0eWwiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0M7RUFDQyx5QkFBQTtFQUNBLDZEQUFBO0VBQ0EsMkRBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0NDQUQ7QURMQTtFQUNDLHlCQUFBO0VBQ0EsNkRBQUE7RUFDQSwyREFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7Q0NPRDtBRFpBO0VBQ0MseUJBQUE7RUFDQSw2REFBQTtFQUNBLDJEQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtDQ2NEO0FDYkQ7RUFDQyxhQUFBO0VBQ0EsK0JBQUE7VUFBQSx1QkFBQTtDRGVBO0FDYkQ7RUFDQyxpQkFBQTtFQUNBLGlCQUFBO0VBQ0EsVUFBQTtDRGVBO0FDYkQ7OztFQUNDLHFCQUFBO0NEaUJBO0FDZkQ7OztFQUNDLDRCQUFBO1VBQUEsb0JBQUE7Q0RtQkE7QUNqQkQ7RUFDQyxnQkFBQTtFQUNBLGFBQUE7Q0RtQkE7QUNqQkQ7RUFDQyxjQUFBO0NEbUJBO0FDakJEO0VBQ0MsbUJBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7RUFDQSx1QkFBQTtFQUNBLCtCQUFBO1VBQUEsdUJBQUE7Q0RtQkE7QUNqQkQ7RUFDQyxrQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtDRG1CQTtBRS9ERDtFQUNJLGVBQUE7Q0ZpRUg7QUdsRUQ7RUFDSSxlQUFBO0NIb0VIO0FJckVEO0VBQ0ksZUFBQTtDSnVFSDtBS3hFRDtFQUNJLGVBQUE7Q0wwRUg7QU0zRUQ7RUFDSSxlQUFBO0NONkVIO0FPOUVEO0VBQ0ksZUFBQTtDUGdGSDtBUWpGRDtFQUNJLGVBQUE7Q1JtRkg7QVNwRkQ7RUFDSSxlQUFBO0NUc0ZIIiwiZmlsZSI6InN0eWxlcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJ3ZWJmb250KG5hbWUsIGZpbGVOYW1lLCB3ZWlnaHQgPSBub3JtYWwsIHN0eWxlID0gbm9ybWFsKVxuXHRAZm9udC1mYWNlXG5cdFx0Zm9udC1mYW1pbHkgbmFtZVxuXHRcdHNyYyB1cmwoJy4uL2ZvbnRzLycgKyBmaWxlTmFtZSArICcud29mZjInKSBmb3JtYXQoJ3dvZmYyJylcblx0XHRzcmMgdXJsKCcuLi9mb250cy8nICsgZmlsZU5hbWUgKyAnLndvZmYnKSBmb3JtYXQoJ3dvZmYnKVxuXHRcdGZvbnQtd2VpZ2h0IHdlaWdodFxuXHRcdGZvbnQtc3R5bGUgc3R5bGVcblxuY2xlYXJmaXgoKVxuXHQmOjphZnRlclxuXHRcdGRpc3BsYXkgYmxvY2tcblx0XHRjb250ZW50ICcnXG5cdFx0Y2xlYXIgYm90aFxuXG5mdChtaW4sIG1heClcblx0cmVtID0gKG1pbi8xNilyZW1cblx0ZGlmZiA9IChtYXggLSBtaW4pXG5cdHZhbHVlID0gJ2NhbGMoJXMgKyAlcyAqICglcyAtICVzKSAvICVzKScgJSAocmVtIGRpZmYgMTAwdncgMzIwcHggOTkwKVxuXHRmb250LXNpemUgdmFsdWVcbiIsIkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogJ011c2VvU2Fucyc7XG4gIHNyYzogdXJsKFwiLi4vZm9udHMvTXVzZW9TYW5zQ3lybC0zMDAud29mZjJcIikgZm9ybWF0KCd3b2ZmMicpO1xuICBzcmM6IHVybChcIi4uL2ZvbnRzL011c2VvU2Fuc0N5cmwtMzAwLndvZmZcIikgZm9ybWF0KCd3b2ZmJyk7XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbn1cbkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogJ011c2VvU2Fucyc7XG4gIHNyYzogdXJsKFwiLi4vZm9udHMvTXVzZW9TYW5zQ3lybC01MDAud29mZjJcIikgZm9ybWF0KCd3b2ZmMicpO1xuICBzcmM6IHVybChcIi4uL2ZvbnRzL011c2VvU2Fuc0N5cmwtNTAwLndvZmZcIikgZm9ybWF0KCd3b2ZmJyk7XG4gIGZvbnQtd2VpZ2h0OiA1MDA7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbn1cbkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogJ011c2VvU2Fucyc7XG4gIHNyYzogdXJsKFwiLi4vZm9udHMvTXVzZW9TYW5zQ3lybC03MDAud29mZjJcIikgZm9ybWF0KCd3b2ZmMicpO1xuICBzcmM6IHVybChcIi4uL2ZvbnRzL011c2VvU2Fuc0N5cmwtNzAwLndvZmZcIikgZm9ybWF0KCd3b2ZmJyk7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbn1cbmh0bWwge1xuICBoZWlnaHQ6IDEwMCU7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5ib2R5IHtcbiAgbWluLWhlaWdodDogMTAwJTtcbiAgbWluLXdpZHRoOiAzMjBweDtcbiAgbWFyZ2luOiAwO1xufVxuYnV0dG9uLFxuaW5wdXQsXG50ZXh0YXJlYSB7XG4gIGZvbnQtZmFtaWx5OiBpbmhlcml0O1xufVxuKixcbio6OmJlZm9yZSxcbio6OmFmdGVyIHtcbiAgYm94LXNpemluZzogaW5oZXJpdDtcbn1cbmltZyB7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiBhdXRvO1xufVxuLnNwcml0ZSB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG4udmlzdWFsbHktaGlkZGVuIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMXB4O1xuICBoZWlnaHQ6IDFweDtcbiAgbWFyZ2luOiAtMXB4O1xuICBwYWRkaW5nOiAwO1xuICBib3JkZXI6IG5vbmU7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHdoaXRlLXNwYWNlOiBub3dyYXA7XG4gIGNsaXA6IHJlY3QoMCwgMCwgMCwgMCk7XG4gIGNsaXAtcGF0aDogaW5zZXQoMTAwJSk7XG59XG4uY29udGFpbmVyIHtcbiAgbWF4LXdpZHRoOiAxMTcwcHg7XG4gIG1hcmdpbjogMCBhdXRvO1xuICBwYWRkaW5nOiAwIDE1cHg7XG59XG4uYWRkcmVzcyB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLmNvbnRhY3RzIHtcbiAgZGlzcGxheTogYmxvY2s7XG59XG4uZ2V0Q2FyZCB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLmhlYWRlciB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLmxvZ28ge1xuICBkaXNwbGF5OiBibG9jaztcbn1cbi5tZW51IHtcbiAgZGlzcGxheTogYmxvY2s7XG59XG4ub3JkZXIge1xuICBkaXNwbGF5OiBibG9jaztcbn1cbi50b3Age1xuICBkaXNwbGF5OiBibG9jaztcbn1cbiIsIkBpbXBvcnQgJ2hlbHBlcnMvbWl4aW5zJ1xuLy8gQGltcG9ydCAnaGVscGVycy92YXJpYWJsZXMnXG5cbndlYmZvbnQoJ011c2VvU2FucycsICdNdXNlb1NhbnNDeXJsLTMwMCcsIDMwMClcbndlYmZvbnQoJ011c2VvU2FucycsICdNdXNlb1NhbnNDeXJsLTUwMCcsIDUwMClcbndlYmZvbnQoJ011c2VvU2FucycsICdNdXNlb1NhbnNDeXJsLTcwMCcsIDcwMClcblxuaHRtbFxuXHRoZWlnaHQgMTAwJVxuXHRib3gtc2l6aW5nIGJvcmRlci1ib3hcblxuYm9keVxuXHRtaW4taGVpZ2h0IDEwMCVcblx0bWluLXdpZHRoIDMyMHB4XG5cdG1hcmdpbiAwXG5cbmJ1dHRvbiwgaW5wdXQsIHRleHRhcmVhXG5cdGZvbnQtZmFtaWx5IGluaGVyaXRcblxuKiwgKjo6YmVmb3JlLCAqOjphZnRlclxuXHRib3gtc2l6aW5nIGluaGVyaXRcblxuaW1nXG5cdG1heC13aWR0aCAxMDAlXG5cdGhlaWdodCBhdXRvXG5cbi5zcHJpdGVcblx0ZGlzcGxheSBub25lXG5cbi52aXN1YWxseS1oaWRkZW5cblx0cG9zaXRpb24gYWJzb2x1dGVcblx0d2lkdGggMXB4XG5cdGhlaWdodCAxcHhcblx0bWFyZ2luIC0xcHhcblx0cGFkZGluZyAwXG5cdGJvcmRlciBub25lXG5cdG92ZXJmbG93IGhpZGRlblxuXHR3aGl0ZS1zcGFjZSBub3dyYXBcblx0Y2xpcCByZWN0KDAsMCwwLDApXG5cdGNsaXAtcGF0aCBpbnNldCgxMDAlKVxuXG4uY29udGFpbmVyXG5cdG1heC13aWR0aCAxMTcwcHhcblx0bWFyZ2luIDAgYXV0b1xuXHRwYWRkaW5nIDAgMTVweFxuXG4vLyBAaW1wb3J0ICcuLi9ibG9ja3MvX21peGlucy8qKi8qLnN0eWwnXG5AaW1wb3J0ICcuLi9ibG9ja3MvKi8qLnN0eWwnXG4iLCIuYWRkcmVzc1xuICAgIGRpc3BsYXkgYmxvY2tcbiIsIi5jb250YWN0c1xuICAgIGRpc3BsYXkgYmxvY2tcbiIsIi5nZXRDYXJkXG4gICAgZGlzcGxheSBibG9ja1xuIiwiLmhlYWRlclxuICAgIGRpc3BsYXkgYmxvY2tcbiIsIi5sb2dvXG4gICAgZGlzcGxheSBibG9ja1xuIiwiLm1lbnVcbiAgICBkaXNwbGF5IGJsb2NrXG4iLCIub3JkZXJcbiAgICBkaXNwbGF5IGJsb2NrXG4iLCIudG9wXG4gICAgZGlzcGxheSBibG9ja1xuIl19 */
