section.address
	img(src="images/map.png", alt="", width="78", height="78").address__img
	.address__wrap
		strong Мы находимся в центре:
		span г. Брест, ул. Гоголя, д.65
		a(href="https://goo.gl/maps/qhA8RMMpmVykjTJ86" target="_blank").address__link Смотреть на карте
		.address__popup
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.251323816377!2d23.69607911595606!3d52.09335747551128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210bfa0846eda1%3A0x9d8826f6a26a2b91!2sGogolia%20St%2065%2C%20Brest%2C%20Belarus!5e0!3m2!1sen!2sru!4v1593456864387!5m2!1sen!2sru" width="250" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
