section.address
	img(src="images/map.png", alt="").address__img
	.address__wrap
		strong Мы находимся в центре:
		span г. Брест, ул. Гоголя, д.65
		a(href="#" target="_blank") Смотреть на карте
		.address__popup
			div(style="outline: 1px solid red; position: absolute;") КАРТА
